.banner {
  width: 100%;
  height: 900px;
  margin-top: -100px;
  padding: 150px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.bannerImg {
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transform: scale(1);
  transition: 0.5s all ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bannerContentSection button {
  background-color: white;
  color: #384490;
  font-weight: 600;
  font-size: 16px;
}

.bannerContentSection button:hover {
  background-color: #384490;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.bannerMain {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.bannerContentSection {
  width: 48%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  flex-direction: column;
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
}

.bannerContentSection.showAnimationSection {
  transition-delay: 0.2s;
  top: 0;
  opacity: 1;
  visibility: visible;
}

.bannerContentSection * {
  color: white;
}

.bannerContentSection h1 {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 0.8;
}

.bannerContentSection h1 span {
  font-weight: 800;
  color: #fecd29;
  font-size: 55px;
}

.bannerContentSection p {
  margin-top: 30px;
  font-size: 17px;
}

.bannerFormSection {
  width: 48%;
}

.bannerFormSection h3 {
  color: #384490;
}

.bannerFormSection {
  width: 40%;
  padding: 30px 30px;
  background-color: white;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
}

.bannerFormSection.showAnimationSection {
  transition-delay: 0.4s;
  top: 0;
  opacity: 1;
  visibility: visible;
}

.bannerFormSection::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 200px 100vh 0;
  border-color: transparent #c2c1c1 transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  opacity: 0.15;
}

.bannerFormSection div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bannerFormSection div input {
  position: relative;
  z-index: 3;
  width: 49%;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #384490;
  background-color: transparent;
  color: #384490;
  font-size: 14px;
  z-index: 4;
}

.bannerFormSection div input:focus {
  outline: none;
}

.bannerFormSection div input::placeholder {
  color: #384490;
}

.bannerFormSection textarea {
  width: 100%;
  height: 300px;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #384490;
  background-color: transparent;
  color: #384490;
  font-size: 14px;
}

.bannerFormSection textarea::placeholder {
  color: #384490;
}

.bannerFormSection textarea:focus {
  outline: none;
}

.bannerFormSection button {
  display: block;
  width: 100%;
  margin: auto;
  background-color: #384490;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  padding: 10px 50px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  position: relative;
  z-index: 4;
}

.bannerFormSection button:hover {
  animation: bounceAnimation 0.6s ease;
  color: #384490;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #384490;
}

.bannerFormSection h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

@media all and (max-width: 1240px) {
  .banner {
    margin-top: -120px;
    height: 750px;
    padding-top: 250px;
  }

  .bannerImg {
    height: 800px;
  }

  .bannerContentSection h1 {
    font-size: 34px;
    letter-spacing: 1px;
  }

  .bannerFormSection h3 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 767px) {
  .banner {
    margin-top: 0;
  }

  .bannerContentSection {
    align-items: center;
  }
}

@media all and (max-width: 1500px) {
  .bannerMain {
    width: 1360px;
  }
}

@media all and (max-width: 1400px) {
  .bannerMain {
    width: 1240px;
  }
}

@media all and (max-width: 1300px) {
  .bannerMain {
    width: 1190px;
  }
}

@media all and (max-width: 1240px) {
  .bannerMain {
    width: 1000px;
  }

  .bannerFormSection textarea {
    height: 150px;
  }

  .bannerFormSection div {
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 15px;
  }

  .bannerFormSection div input {
    width: 100%;
  }
}

@media all and (max-width: 1050px) {
  .bannerMain {
    width: 95%;
  }

  .contactForm {
    width: 100%;
    order: 2;
  }

  .contactDetails {
    text-align: center;
    width: 100%;
    order: 1;
  }
}

@media all and (max-width: 800px) {
  .banner {
    margin-top: -120px;
    height: auto;
    padding-top: 170px;
  }

  .bannerImg {
    height: 1200px;
  }

  .bannerMain {
    flex-direction: column;
    row-gap: 50px;
  }

  .bannerContentSection {
    width: 80%;
    text-align: center;
  }

  .bannerContentSection h1 {
    text-align: center;
  }

  .bannerFormSection {
    width: 80%;
  }
}

@media all and (max-width: 650px) {
  .banner {
    margin-top: 0;
    padding: 50px 0px;
    padding-bottom: 80px;
  }

  .bannerContentSection {
    width: 100%;
    text-align: center;
  }

  .bannerFormSection {
    width: 100%;
  }

  .bannerContentSection h1 {
    text-align: center;
    font-size: 25px;
  }
}

@media all and (max-width: 500px) {
  .bannerContentSection h1 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.3;
  }

  .bannerContentSection h1 span {
    font-weight: 800;
    color: #fecd29;
    font-size: 30px;
  }
}
