:root {
  --primary-white: "#FEFEFE";
  --primary-dark-blue: "#384490";
  --primary-light-blue: "#394C9B";
  --primary-yellow: "#FECD29";
  --primary-orange: "#EB8136";
  --primary-green: "#009954";
}

.primeLocation {
  width: 1440px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: auto;
  padding: 80px 0px;
}

.primeLocationBlue {
  background: linear-gradient(to right , #384490 , #030b39);
  position: relative;
  overflow: hidden;
}

.whiteSqaureSection{
  position: absolute;
  left: -80px;
  bottom: -60px;
  width: 400px;
  height: 150px;
  transform: rotate(30deg);
  background-color: #030b3950;
}

.whiteSqaureSection2{
  position: absolute;
  right: -100px;
  top: -50px;
  width: 400px;
  height: 100px;
  transform: rotate(30deg);
  background-color: #263dbf50;
}

.imageSection {
  width: 48%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  order: 1;
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
}

.imageSection.showAnimationSection {
  transition-delay: 0.2s;
  top: 0;
  opacity: 1;
  visibility: visible;
}

.imageSection div {
  width: 49%;
}

.imageSection img {
  width: 100%;
  height: auto;
  object-fit: contain !important;
}

.imageSection div img:last-of-type {
  margin-top: 8px;
  margin-bottom: -6px;
}

.bigImage {
  width: 100%;
}

.contentSection {
  width: 48%;
  order: 2;
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
}

.contentSection.showAnimationSection {
  transition-delay: 0.4s;
  top: 0;
  opacity: 1;
  visibility: visible;
}

.contentSection * {
  color: white;
}

.contentSection h4 {
  display: inline;
  padding-bottom: 5px;
  color: #fecd29;
  border-bottom: 3px solid #eb8136;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.contentSection h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 44px;
}

.aboutDesc {
  margin-bottom: 20px;
  font-size: 17px;
}

.flexContent {
  overflow-x: scroll;
  margin-top: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  row-gap: 30px;
  text-align: center;
  cursor: grab;
  user-select: none;
  position: relative;
}

.flexContent::-webkit-scrollbar {
  display: none;
}

.flexContent div {
  padding-bottom: 10px;
  margin-bottom: 30px;
  flex-shrink: 0;
  width: 200px;
}

.flexContent div img {
  width: 95%;
  height: 250px;
  margin: auto;
}

.flexContent p {
  width: 90%;
  margin: auto;
  color: #fefefe;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 600;
  text-align: center;
}

.navigationButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.arrow {
  text-align: center;
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #384490;
}

.arrow img{
  width: 20px;
  height: 20px;
}

@media all and (max-width: 1500px) {
  .primeLocation {
    width: 1360px;
  }
}

@media all and (max-width: 1400px) {
  .primeLocation {
    width: 1240px;
  }
}

@media all and (max-width: 1300px) {
  .primeLocation {
    width: 1190px;
  }
}

@media all and (max-width: 1240px) {
  .primeLocation {
    width: 1000px;
  }
}

@media all and (max-width: 1050px) {
  .primeLocation {
    width: 95%;
    flex-direction: column;
    row-gap: 50px;
  }

  .imageSection {
    width: 100%;
    order: 2;
  }

  .contentSection {
    width: 100%;
    order: 1;
    text-align: center;
  }

  .flexContent div {
    width: 250px;
  }

  .flexContent div img {
    height: 300px;
  }
}

@media all and (max-width: 767px) {
  .primeLocation h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 500px) {
  .contentSection h1 {
    font-size: 25px;
  }

  .primeLocation {
    padding: 60px 0px;
  }

  .flexContent div {
    width: 200px;
  }

  .flexContent div img {
    height: 250px;
  }

  .whiteSqaureSection{
    width: 250px;
    height: 100px;
  }
  
  .whiteSqaureSection2{
    width: 250px;
  }
}
