:root {
  --primary-white: "#FEFEFE";
  --primary-dark-blue: "#384490";
  --primary-light-blue: "#394C9B";
  --primary-yellow: "#FECD29";
  --primary-orange: "#EB8136";
  --primary-green: "#009954";
}

.primeLocation {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 80px 0px;
}

.primeLocationBlue {
  /* background-color: #384490; */
  background: linear-gradient(to right , #384490 , #030b39);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.whiteSqaureSection{
  position: absolute;
  left: -80px;
  bottom: -60px;
  width: 400px;
  height: 150px;
  transform: rotate(30deg);
  background-color: #030b3950;
}

.whiteSqaureSection2{
  position: absolute;
  right: -100px;
  top: -50px;
  width: 400px;
  height: 100px;
  transform: rotate(30deg);
  background-color: #263dbf50;
}

.imageSection {
  width: 48%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  order: 2;
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
}

.showAnimationSection {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.animationSection:last-child {
  transition-delay: 0.2s;
}

.imageSection div {
  width: 49%;
}

.imageSection div img {
  width: 100%;
  height: auto;
}

.imageSection div img:last-of-type {
  margin-top: 8px;
  margin-bottom: -6px;
}

.bigImage {
  width: 100%;
}

.contentSection {
  width: 48%;
  order: 1;
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
}

.contentSection.showAnimationSection {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.contentSection * {
  color: white;
}

.contentSection h4 {
  display: inline;
  padding-bottom: 5px;
  color: #fecd29;
  border-bottom: 3px solid #eb8136;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.contentSection h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 44px;
}

.aboutDesc {
  margin-bottom: 20px;
  font-size: 16px;
}

.flexContent {
  margin-top: 40px;
}

.flexContent div {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}

.flexContent div:last-of-type {
  border-bottom: none;
}

.flexContent h3 {
  color: #fecd29;
  font-weight: 800;
  font-size: 22px;
}

.flexContent p {
  color: #fefefe;
  font-size: 15px;
  margin-top: 2px;
}

@media all and (max-width: 1500px) {
  .primeLocation {
    width: 1360px;
  }
}

@media all and (max-width: 1400px) {
  .primeLocation {
    width: 1240px;
  }
}

@media all and (max-width: 1300px) {
  .primeLocation {
    width: 1190px;
  }
}

@media all and (max-width: 1240px) {
  .primeLocation {
    width: 1000px;
  }
}

@media all and (max-width: 1050px) {
  .primeLocation {
    width: 95%;
    flex-direction: column;
    row-gap: 50px;
  }

  .imageSection {
    width: 100%;
    order: 2;
  }

  .contentSection {
    width: 100%;
    order: 1;
    text-align: center;
  }

  .imageSection div img {
    width: 100%;
    height: 351px;
  }

  .flexContent {
    margin-top: 50px;
  }
}

@media all and (max-width: 767px) {
  .contentSection h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 500px) {
  .contentSection h1 {
    font-size: 25px;
  }

  .primeLocation {
    padding: 60px 0px;
  }

  .whiteSqaureSection{
    width: 300px;
    height: 100px;
  }
  
  .whiteSqaureSection2{
    width: 300px;
  }
}
